body {
    background-color: lightslategray;
    margin-top: 250px;
}    

header{
    text-align: center; 
    padding: 20px;
    background-color: #708090; 
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
     

}
ul  {
    display: flex;          
    justify-content: center;  
    list-style-type: none;   
    padding: 0;              
    gap: 20px;
 }   

.izquierda {
    float: left;            
    width: 280px;           
    text-align: center;
} 

.Derecha {
    float: right;           
    width: 280px;           
    text-align: center;   
    
}

.publiIzquierda img, 
.publiDerecha img {
    width: 200px;           
    height: 300px;          
    object-fit: contain;
}

.blog {
    margin-left: 350px;     
    margin-right: 350px;    
    text-align: center;
  
}

.imagenCentral img {
    display: block;       
    margin: 20px auto;    
    width: 80%;           
    height: auto;
}
